$default-window: #ffffff;
// rgb(230, 230, 230);
$default-background-color-blocks: #ffffff;
$text-left-menu: #b1b1b1;
$special-color: #1814f3;
$layouts-input: #f5f7fa;
$layouts-input-text: #8ba3cb;
$layout-line: #e6eff5;
$left-menu-object: #b1b1b1;
$main-block-in-main-window: #718ebf;
$main-block-border-input: #dfeaf2;
$main-header-title-mobile: #343c6a;
