@font-face {
  font-family: "Inter";
  font-weight: medium;
  src: url("/public/Fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular";
  font-weight: medium;
  src: url("/public/Fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Light";
  font-weight: medium;
  src: url("/public/Fonts/Inter_18pt-Light.ttf") format("truetype");
  font-display: swap;
}
