@import "colors";
@import "fonts";

.setting {
  &-headers {
    display: flex;

    &-header {
      padding-right: 10rem;
      padding-left: 10rem;
      margin-left: 10rem;
      margin-right: 50rem;
      font-family: Inter;
      font-size: 16rem;
      color: $main-block-in-main-window;
      transition: color 0.3s ease-in-out;

      border-bottom: 4rem solid rgb(255, 255, 255);

      clip-path: polygon(10rem 0%, calc(100% - 10rem) 0%, 100% 100%, 0% 100%);
      transition: border-bottom 0.3s ease, clip-path 0.3s ease;

      &:hover {
        color: $special-color;
        border-bottom: 4rem solid $special-color;

        clip-path: polygon(10rem 0%, calc(100% - 10rem) 0%, 100% 100%, 0% 100%);
      }
    }
  }
  &-main {
    display: flex;
    &-edit_profile {
      display: flex;
      &-image {
        position: relative;
        height: 550rem;
        img {
          position: relative;
          width: 130rem;
          margin-top: 60rem;
          margin-right: 50rem;
        }
      }
      &-pencil {
        position: absolute;
        left: 490rem;
        top: 350rem;
        background-color: $special-color;
        padding: 7.5rem;
        border-radius: 50%;
        width: 30rem;
        height: 30rem;
        img {
          width: 15rem;
        }
      }
      &-inputs {
        width: 810rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 55rem;

        label {
          font-family: Inter-Regular;
          padding: 0rem;
          margin-right: 35rem;
          div {
            input {
              margin-top: 5rem;
              border: 1rem solid $main-block-border-input;
              padding: 10rem;
              border-radius: 15rem;
              color: $main-block-in-main-window;
              width: 368rem;
              height: 50rem;
              font-size: 16rem;
              font-weight: 400;
              font-family: Inter-Regular;
            }
            input::placeholder {
              color: #718ebf;
              font-family: Inter-Regular;
            }
          }
        }
      }
    }
  }
  &-buttons {
    display: flex;
    justify-content: right;
    &-button {
      cursor: pointer;
      font-size: 18rem;
      border-radius: 15rem;
      border: none;
      background-color: $special-color;
      color: white;
      font-family: Inter-Light;
      padding: 12rem 70rem;
    }
  }
}

.horizontal-line {
  height: 1rem;
  width: 100%;
  background-color: $layout-line;
}

@media screen and (max-width: 1012px) {
  .setting {
    &-headers {
      justify-content: center;
      &-header {
        padding-right: 7rem;
        padding-left: 7rem;
        margin-left: 5rem;
        margin-right: 10rem;
        font-size: 13rem;
      }
    }
    &-main {
      display: block;
      &-edit_profile {
        display: block;
        &-image {
          position: relative;
          height: 150rem;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            position: relative;

            width: 150rem;
            margin-top: 30rem;
            margin-left: 50rem;
          }
        }
        &-pencil {
          position: absolute;
          left: 220rem;
          top: 345rem;
          background-color: $special-color;
          padding: 7.5rem;
          border-radius: 50%;
          width: 30rem;
          height: 30rem;
          img {
            width: 15rem;
          }
        }
        &-inputs {
          width: 375rem;
          display: block;

          margin-top: 55rem;

          label {
            margin-top: 1111rem;
            font-family: Inter-Regular;
            padding: 0rem;
            margin-right: 0rem;

            div {
              height: 81rem;
              input {
                margin-top: 15rem;
                border: 1rem solid $main-block-border-input;
                padding: 10rem;
                border-radius: 15rem;
                color: $main-block-in-main-window;
                width: 285rem;
                height: 50rem;
                font-size: 16rem;
                font-weight: 400;
                font-family: Inter-Regular;
              }
              input::placeholder {
                color: #718ebf;
                font-family: Inter-Regular;
              }
            }
          }
        }
      }
    }

    &-buttons {
      display: flex;

      justify-content: center;
      &-button {
        width: 285rem;
        cursor: pointer;
        font-size: 18rem;
        border-radius: 15rem;
        border: none;
        background-color: $special-color;
        color: white;
        font-family: Inter-Light;
        padding: 12rem 70rem;
      }
    }
  }
}
